.calculator__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.calculator__logo {
    margin: 1rem 0;
}

.calculator__theme-slider {
    width: 2.2rem;
}

.calculator__theme-numbers {
    display: flex;
    justify-content: space-around;
    font-size: 0.5rem;
}

.calculator__theme-radio {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;

    input[type='radio'] {
        // visibility: hidden;
    }
}
