.calculator__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.calculator__logo {
    margin: 1rem 0;
}

.calculator__theme-slider {
    width: 2.2rem;
}

.calculator__theme-numbers {
    display: flex;
    justify-content: space-around;
    font-size: 0.5rem;
}

.calculator__theme-radio {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0.15rem;

    .radio-button {
        width: 0.5rem;
        height: 0.5rem;
        background-color: inherit;
        border-radius: 50%;
    }

    .active {
        animation-duration: 0.5s;
        animation-name: animate-pop;
        animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    }

    @keyframes animate-pop {
        0% {
            opacity: 0;
            transform: scale(0.5, 0.5);
        }

        100% {
            opacity: 1;
            transform: scale(1, 1);
        }
    }
}
