.theme1 {
    --theme1-main-background: hsl(222, 26%, 31%);
    --theme1-toggle-background: hsl(223, 31%, 20%);
    --theme1-screen-background: hsl(224, 36%, 15%);
    --theme1-key-background-blue: hsl(225, 21%, 49%);
    --theme1-key-shadow-blue: hsl(224, 28%, 35%);
    --theme1-key-background-red: hsl(6, 63%, 50%);
    --theme1-key-shadow-red: hsl(6, 70%, 34%);
    --theme1-key-background-grey: hsl(30, 25%, 89%);
    --theme1-key-shadow-grey: hsl(28, 16%, 65%);

    --theme1-font-blue: hsl(221, 14%, 31%);

    background-color: var(--theme1-main-background);

    .calculator {
        &__header {
        }

        &__theme-radio {
            background-color: var(--theme1-toggle-background);
        }

        &__screen {
            background-color: var(--theme1-screen-background);
        }

        &__controls {
            background-color: var(--theme1-toggle-background);

            button {
                background-color: var(--theme1-key-background-grey);
                box-shadow: 0px 2px 0px 3px var(--theme1-key-shadow-grey);
            }

            .reset,
            .delete,
            .equals {
                font-size: 0.7rem;
                color: #fff;
                text-transform: uppercase;
            }

            .reset,
            .delete {
                background-color: var(--theme1-key-background-blue);
                box-shadow: 0px 2px 0px 3px var(--theme1-key-shadow-blue);
            }

            .equals {
                background-color: var(--theme1-key-background-red);
                box-shadow: 0px 2px 0px 3px var(--theme1-key-shadow-red);
            }
        }
    }
}
