:root {
    // THEME 1
    

    // THEME 2
    --theme2-main-background:  hsl(0, 0%, 90%);
    --theme2-toggle-background: hsl(0, 5%, 81%);
    --theme2-screen-background: hsl(0, 0%, 93%);
    --theme2-key-background-cyan: hsl(185, 42%, 37%);
    --theme2-key-shadow-cyan: hsl(185, 58%, 25%);
    --theme2-key-background-orange: hsl(25, 98%, 40%);
    --theme2-key-shadow-orange: hsl(25, 99%, 27%);
    --theme2-key-background-grey: hsl(45, 7%, 89%);
    --theme2-key-shadow-grey: hsl(35, 11%, 61%)

    --theme2-font-grey: hsl(60, 10%, 19%);
    --theme2-font-white: var(--theme1-font-white);

    // THEME 3
    --theme3-main-background: hsl(268, 75%, 9%);
    --theme3-toggle-background: hsl(268, 71%, 12%);
    --theme3-screen-background: var(var(--theme3-toggle-background));
    --theme3-key-background-violet: hsl(281, 89%, 26%);
    --theme3-key-shadow-violet: hsl(285, 91%, 52%);
    --theme3-key-background-cyan: hsl(176, 100%, 44%);
    --theme3-key-shadow-cyan: hsl(177, 92%, 70%);
    --theme3-key-background-magenta: hsl(268, 47%, 21%);
    --theme3-key-shadow-magenta: hsl(290, 70%, 36%);

    --theme3-font-yellow: hsl(52, 100%, 62%);
    --theme3-font-blue: hsl(198, 20%, 13%);
    --theme3-font-white: var(--theme1-font-white);
}
